{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
{%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode -%}
  {%- liquid
    assign line_items = checkout.line_items

    assign metafield_ep = shop.metafields.loyalty.easy_points_attributes
    if customer
      assign metafield_ep = customer.metafields.loyalty.easy_points_attributes
    endif

    if use_cart
      assign line_items = cart.items

      assign metafield_ep = shop.metafields.loyalty.easy_points_attributes.value
      if customer
        assign metafield_ep = customer.metafields.loyalty.easy_points_attributes.value
      endif
    endif
  -%}
  {%- if line_items -%}
    {%- liquid
      assign multiplier = 1
      assign currencies = 'JPY,KRW,BIF,CLP,DJF,GNF,ISK,KMF,PYG,RWF,UGX,VND,VUV,XAF,XOF,XPF'
      assign currencies = currencies | split: ','
      if currencies contains shop.currency
        assign multiplier = 100
      endif

      assign final_price = 0
      assign final_price_exclusion = 0
      assign final_bonus_points = 0

      for item in line_items
        assign tax_rate = 1.1
        assign bpr_ratio = 0.0
        assign final_bpr_ratio = 0.0

        for collection in item.product.collections
          if collection.handle == 'easy-points-point-exclusion'
            assign final_price_exclusion = final_price_exclusion | plus: item.final_line_price
            break
          else
            assign metafield_bonus_points = collection.metafields.loyalty.bonus_points
            if metafield_bonus_points and metafield_bonus_points.active
              assign bpr_point_value = metafield_bonus_points.point_value | times: 1.0
              assign bpr_currency_value = metafield_bonus_points.currency_value | times: 1.0
              assign bpr_ratio = bpr_point_value | divided_by: bpr_currency_value

              if bpr_ratio >= final_bpr_ratio
                assign final_bpr_ratio = bpr_ratio
              endif
            endif

            if collection.metafields.loyalty['tax_override_percentage']
              assign tax_override_percentage = collection.metafields.loyalty['tax_override_percentage'] | divided_by: 100
              assign tax_rate = 1 | plus: tax_override_percentage
            endif
          endif
        endfor

        capture currency_cost
          render 'epa-currency-cost', metafield_ep: metafield_ep, price: item.final_line_price, tax_rate: tax_rate
        endcapture

        assign currency_cost = currency_cost | strip_html
        assign final_price = final_price | plus: currency_cost

        if final_bpr_ratio > 0.0
          assign bonus_points = currency_cost | divided_by: multiplier | times: final_bpr_ratio
          assign final_bonus_points = final_bonus_points | plus: bonus_points
        endif
      endfor

      assign opr_point_value = metafield_ep.point_value | times: 1.0
      assign opr_currency_value = metafield_ep.currency_value | times: 1.0
      assign opr_ratio = opr_point_value | divided_by: opr_currency_value

      assign discounted = 0
      if checkout
        assign discounted = checkout.gift_cards_amount | divided_by: 1.1
      endif

      assign final_price = final_price | minus: discounted | minus: final_price_exclusion
      assign points = final_price | divided_by: multiplier | times: opr_ratio | ceil
      assign final_points = points | plus: final_bonus_points | ceil
    -%}

    {%- capture total_points_value -%}
      <span
        class="points-after-applied-discount"
        data-loyal-opr-ratio="{{ opr_ratio }}"
        data-loyal-currency="{{ final_price }}"
        data-loyal-points="{{ final_points }}"
        data-loyal-bonus-points="{&quot;bonusPoints&quot;: {{ final_bonus_points }}}"
      >
        <span class="easy-points-total__point__value">
          {%- render 'epa-format-number', number: final_points -%}
        </span>
      </span>
    {%- endcapture -%}

    <span class="easy-points easy-points__total-point">
      {{- total_points_value -}}<span class="easy-points-total__point__label easy-points__text easy-points__text--suffix">pt</span>
    </span>
  {%- endif -%}
{%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
