<div class="event-item">
    <div class="event-item__image">
      {%- if event.image != blank -%}
      <img alt="{{ event.image.alt }}" class="lazy animated" data-src="{{ event.image | image_url: width: 500 }}" />
      {%- else -%}
        {{ 'image' | placeholder_svg_tag }}
      {% endif %}
    </div>
    <div class="event-item__content">
      <div class="event-item__statuses">
        {% for tag in event.collection_for_tags.metafields.event.tags.value %}
          {% assign tag_style = ""%}
          {% if tag.style != "" %}
            {% assign tag_style = "--" | append: tag.style %}
          {% endif %}
          <span class="event-item__status event-item__status{{tag_style}}">{{ tag.name }}</span>
        {% endfor %}
      </div>
      <h2 class="event-item__title">
        {% if request.locale.iso_code == 'en' and event.title_en != blank %}
          {{ event.title_en | newline_to_br }}
        {% else %}
          {{ event.title | newline_to_br }}
        {% endif %}
      </h2>
      <div class="event-item__description">
        {% if request.locale.iso_code == 'en' and event.description_en != blank %}
          {{ event.description_en | newline_to_br }}
        {% else %}
          {{ event.description | newline_to_br }}
        {% endif %}
      </div>
      <div class="event-item__button">
        <a class="button button--has-icon-arrow-right" href="{{ event.url }}">{{ 'events.event_list.button' | t }}</a>
      </div>
    </div>
  </div>