<ul class="laundry-symbol-list">
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="" height="40" src="{{ 'icon_wash.svg' | asset_url }}" width="40">
      <span>家庭洗濯の記号</span>
    </button>
    <ul class="accordion__content" data-accordion-target="content">
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-95.svg' | asset_url }}" width="40"><p>液温は95°Cを限度とし洗濯機で<br class="sp">洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-70.svg' | asset_url }}" width="40"><p>液温は70°Cを限度とし洗濯機で<br class="sp">洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-60.svg' | asset_url }}" width="40"><p>液温は60°Cを限度とし洗濯機で<br class="sp">洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-60-delicate.svg' | asset_url }}" width="40"><p>液温は60°Cを限度とし洗濯機で<br class="sp">弱い洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-50.svg' | asset_url }}" width="40"><p>液温は50°Cを限度とし洗濯機で<br class="sp">洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-50-delicate.svg' | asset_url }}" width="40"><p>液温は50°Cを限度とし洗濯機で<br class="sp">弱い洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-40.svg' | asset_url }}" width="40"><p>液温は40°Cを限度とし洗濯機で<br class="sp">洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-40-delicate.svg' | asset_url }}" width="40"><p>液温は40°Cを限度とし洗濯機で<br class="sp">弱い洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-40-very-delicate.svg' | asset_url }}" width="40"><p>液温は40°Cを限度とし洗濯機で<br class="sp">非常に弱い洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-30.svg' | asset_url }}" width="40"><p>液温は30°Cを限度とし洗濯機で<br class="sp">洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-30-delicate.svg' | asset_url }}" width="40"><p>液温は30°Cを限度とし洗濯機で<br class="sp">弱い洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-30-very-delicate.svg' | asset_url }}" width="40"><p>液温は30°Cを限度とし洗濯機で<br class="sp">非常に弱い洗濯ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-hand.svg' | asset_url }}" width="40"><p>液温は40°Cを限度とし<br class="sp">手洗いができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_wash-do-not.svg' | asset_url }}" width="40"><p>家庭での洗濯禁止</p>
      </li>
    </ul>
  </li>
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="" height="40" src="{{ 'icon_bleach.svg' | asset_url }}" width="40">
      <span>漂白の記号</span>
    </button>
    <ul class="accordion__content" data-accordion-target="content">
      <li>
        <img alt="" height="40" src="{{ 'icon_bleach.svg' | asset_url }}" width="40"><p>塩素系及び酸素系の漂白剤を<br class="sp">使用して漂白ができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_bleach-non-chlorine.svg' | asset_url }}" width="40"><p>酸素系漂白剤の使用はできるが、<br class="sp">塩素系漂白剤は使用禁止</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_bleach-do-not.svg' | asset_url }}" width="40"><p>塩素系及び酸素系漂白剤の<br class="sp">使用禁止</p>
      </li>
    </ul>
  </li>
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="" height="40" src="{{ 'icon_dry-tumble.svg' | asset_url }}" width="40">
      <span>タンブル乾燥の記号</span>
    </button>
    <ul class="accordion__content" data-accordion-target="content">
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-tumble-medium.svg' | asset_url }}" width="40"><p>タンブル乾燥ができる<br class="sp">（排気温度上限80°C）</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-tumble-low.svg' | asset_url }}" width="40"><p>タンブル乾燥ができる<br class="sp">（排気温度上限60°C）</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-tumble-do-not.svg' | asset_url }}" width="40"><p>タンブル乾燥禁止</p>
      </li>
    </ul>
  </li>
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="" height="40" src="{{ 'icon_dry.svg' | asset_url }}" width="40">
      <span>自然乾燥の記号</span>
    </button>
    <ul class="accordion__content" data-accordion-target="content">
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-line.svg' | asset_url }}" width="40"><p>つり干しがよい</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-line-in-shade.svg' | asset_url }}" width="40"><p>日陰のつり干しがよい</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-line-drip.svg' | asset_url }}" width="40"><p>ぬれつり干しがよい</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-line-drip-in-shade.svg' | asset_url }}" width="40"><p>日陰のぬれつり干しがよい</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-flat.svg' | asset_url }}" width="40"><p>平干しがよい</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-flat-in-shade.svg' | asset_url }}" width="40"><p>日陰の平干しがよい</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-flat-drip.svg' | asset_url }}" width="40"><p>ぬれ平干しがよい</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-flat-drip-in-shade.svg' | asset_url }}" width="40"><p>日陰のぬれ平干しがよい</p>
      </li>
    </ul>
  </li>
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="" height="40" src="{{ 'icon_iron.svg' | asset_url }}" width="40">
      <span>アイロン仕上げの記号</span>
    </button>
    <ul class="accordion__content" data-accordion-target="content">
      <li>
        <img alt="" height="40" src="{{ 'icon_iron-high.svg' | asset_url }}" width="40"><p>底面温度200°Cを限度として<br class="sp">アイロン仕上げができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_iron-medium.svg' | asset_url }}" width="40"><p>底面温度150°Cを限度として<br class="sp">アイロン仕上げができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_iron-low.svg' | asset_url }}" width="40"><p>底面温度110°Cを限度として<br class="sp">アイロン仕上げができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_iron-do-not.svg' | asset_url }}" width="40"><p>アイロン仕上げ禁止</p>
      </li>
    </ul>
  </li>
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="" height="40" src="{{ 'icon_dry-clean.svg' | asset_url }}" width="40">
      <span>ドライクリーニングの記号</span>
    </button>
    <ul class="accordion__content" data-accordion-target="content">
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-clean-p.svg' | asset_url }}" width="40"><p>パークロロエチレン及び<br class="sp">石油系溶剤による<br class="sp">ドライクリーニングができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-clean-p-delicate.svg' | asset_url }}" width="40"><p>パークロロエチレン及び<br class="sp">石油系溶剤による<br class="sp">弱いドライクリーニングができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-clean-f.svg' | asset_url }}" width="40"><p>石油系溶剤による<br class="sp">ドライクリーニングができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-clean-f-delicate.svg' | asset_url }}" width="40"><p>石油系溶剤による<br class="sp">弱いドライクリーニングができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-clean-do-not.svg' | asset_url }}" width="40"><p>ドライクリーニング禁止</p>
      </li>
    </ul>
  </li>
  <li class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button accordion__button--has-icon" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      <img alt="" height="40" src="{{ 'icon_dry-clean-w.svg' | asset_url }}" width="40">
      <span>ウェットクリーニングの記号</span>
    </button>
    <ul class="accordion__content" data-accordion-target="content">
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-clean-w.svg' | asset_url }}" width="40"><p>ウェットクリーニングができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-clean-w-delicate.svg' | asset_url }}" width="40"><p>弱い操作による<br class="sp">ウェットクリーニングができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-clean-w-very-delicate.svg' | asset_url }}" width="40"><p>非常に弱い操作による<br class="sp">ウェットクリーニングができる</p>
      </li>
      <li>
        <img alt="" height="40" src="{{ 'icon_dry-clean-w-do-not.svg' | asset_url }}" width="40"><p>ウェットクリーニング禁止</p>
      </li>
    </ul>
  </li>
</ul>
