<div class="order-history-item">
  <div class="order-history-item__header">
    <div>
      <div class="order-history-item__date-title">ご注文日</div>
      <div class="order-history-item__date">{{ order.created_at | date: "%Y.%m.%d" }}</div>
    </div>
    <a class="order-history-item__see-detail" href="{{ order.customer_url }}">詳細を見る</a>
  </div>
  <dl class="description-list grid-cols-3 lg:grid-cols-8">
      <dt>合計金額</dt>
      <dd class="col-span-2 lg:col-span-7">{{ order.total_price | money }}
        <span class="description-list__tax-in">税込</span>
      </dd>
      <dt>購入店名</dt>
      <dd class="col-span-2 lg:col-span-7">{{ order.location.name }}</dd>
  </dl>
  <div class="accordion" data-controller="accordion">
    <button aria-expanded="false" class="accordion__button" data-accordion-target="trigger" data-action="accordion#toggle" type="button">
      ご注文内容
    </button>
    <div class="accordion__content" data-accordion-target="content">
      <ul class="order-item-list">
        {% for line_item in order.line_items %}
          {% render 'order-item', item: line_item %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <a class="button button--has-icon-arrow-right" href="{{ order.customer_url }}">詳細を見る</a>
</div>